.env
/vendor
/node_modules
/public/build
/public/hot
/public/uploads/*
!/public/uploads/imgSem.jpg
!/public/uploads/imgBlogs/
!/public/uploads/imgBlogs/**
!/public/uploads/imgCompanies/
!/public/uploads/imgCompanies/**
/storage/*.key
/storage/logs
/uploads
/*.sql
